<br/>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">	
				<h3>Ingreso</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form #form="ngForm" (ngSubmit)="login(form)">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input  name="email" type="email" ngModel required  class="form-control" placeholder="Email">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input name="password" type="password" ngModel required class="form-control" placeholder="Contraseña">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Mantener logeada mi cuenta
					</div>
					<div class="form-group">
						<input type="submit" value="Login" [disabled]="form.invalid" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Registrarse<a routerLink='/registro-page'>
						Aquí</a>
				</div>
				<div class="d-flex justify-content-center">
					<a routerLink='/olvido-contrasena'>
						Olvidaste tu contraseña?</a>
				</div>
			</div>
		</div>
	</div>
</div>