
<!-- ng build --prod --baseHref="https://FherPie.github.io/sitio-web-patitas/" -->
<nav>
    <a class="button"
    routerLinkActive="activebutton"
    routerLink="/nosotros-page/4">Nosotros</a> 
    <a class="button" 
    routerLinkActive="activebutton" routerLink="/escogitamiento-rol-page">Unete al Club</a>

    <a class="button" 
    routerLinkActive="activebutton" routerLink="/login-page">Ingresar</a>

    <a class="button" 
    routerLinkActive="activebutton" routerLink="/registro-page">Registrate</a>


    <a class="button" 
    routerLinkActive="activebutton" routerLink="/escogitamiento-adoptar-page">Adoptar</a>

        <a routerLink='/registro-page'>Registrarse</a>
  



</nav>
<router-outlet></router-outlet>





