<div class="container">
    <h3 class="h3">Cerca de conocer a tu nuevo amig@ </h3>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="square-grid6">
                <div class="square-image6">
                    <a routerLink='/vista-catalogo'>
                        <img class="pic-1" src="https://i.pinimg.com/originals/21/c9/2f/21c92f647908affb908b588b486b87e8.jpg">
                    </a>
                </div>
                <div class="square-content">
                    <h3 class="title"><a routerLink='/vista-catalogo'>Machos</a></h3>
                </div>
            </div>
        </div>

                <div class="col-md-6 col-sm-6">
            <div class="square-grid6">
                <div class="square-image6">
                    <a routerLink='//vista-catalogo'>
                        <img class="pic-1" src="https://i.pinimg.com/originals/21/c9/2f/21c92f647908affb908b588b486b87e8.jpg">
                    </a>
                </div>
                <div class="square-content">
                    <h3 class="title"><a routerLink='/vista-catalogo'>Hembras</a></h3>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>

