/* You can add global styles to this file, and also import other style files */
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');


@import url('https://fonts.googleapis.com/css?family=Roboto');


html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;*/
font-family: Numans, sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}




/********************* Squares **********************/
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}
.square-grid6,.square-grid6 .square-image6{overflow:hidden}
.square-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.square-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.square-grid6 .square-image6 a{display:block}
.square-grid6 .square-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.square-grid6:hover .square-image6 img{transform:scale(1.1)}
.square-grid6 .square-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.square-grid6:hover .square-content{opacity:0}
.square-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.square-grid6 .title a{color:#000}
.square-grid6 .title a:hover{color:#2e86de}
.square-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.square-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.square-grid6:hover .social{opacity:1;bottom:20px}
.square-grid6 .social li{display:inline-block}
.square-grid6 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.square-grid6 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
.square-grid6 .social li a:after,.square-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.square-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.square-grid6 .social li a:hover:after,.square-grid6 .social li a:hover:before{opacity:1}
.square-grid6 .select-options{color:#777;background-color:#fff;font-size:13px;font-weight:400;text-align:center;text-transform:uppercase;padding:15px 5px;margin:0 auto;opacity:0;display:block;position:absolute;width:92%;left:0;bottom:-100px;right:0;transition:.5s ease 0s}
.square-grid6 .select-options:hover{color:#fff;background-color:#ff4848 ;text-decoration:none;   border-radius: 6px;}
.square-grid6:hover .select-options{opacity:1;bottom:10px}
@media only screen and (max-width:990px){.square-grid6{margin-bottom:30px}
}